body {
    background-color: rgb(41, 74, 104);
    color: rgb(246, 249, 253);
    font-family: "Chakra Petch", sans-serif;
    font-family: "Chakra Petch", sans-serif;
    display:flex
    justify-content:center;
    align-items:center;
}
      
